body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.complete{
    /* height: 84.6vh; */
}

nav, footer{
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    margin: 0;
    padding: 0;
}

nav img{
    width: 35px;
    height: auto;
}

nav .git{
    color: #EB4D28;
    margin: 0;
}

nav .title{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 15px;
}

.card img{
    height: 13.3rem;
    object-fit: cover;
}

.social{
    text-decoration: none;
}

footer{
    padding: 0.9rem;
    justify-content: space-between;
    align-items: center;
}

.social a i{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.3rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;

}

.copy{
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
}

.name{
    color: #6ab04c;
}